---
layout: default
title: Software Developer, Linux Enthusiast, Musician, Weeb
---

<style>
    .index {
        font-size: large;
    }

    td.date {
        font-size: medium;
        width: 100px;
    }

    .organization {
        margin-top: -5px;
        font-size: small;
    }
</style>

<div class="index">
    <div class="row mb-3">
        <div class="col"><h1>// Index</h1></div>
    </div>
    <div class="row">
        {% assign topics = "Politics, Presentations, Technology, Orchestra" | split: ", " %}
        {% for topic in topics %}
            {% case topic %}
                {% when "Politics" %}
                    {% assign posts = site.categories.opinion %}
                {% when "Presentations" %}
                    {% assign posts = site.data.presentations %}
                {% when "Technology" %}
                    {% assign posts = site.categories.technology %}
                {% when "Orchestra" %}
                    {% assign posts = site.data.performances %}
                {% else %}
                    {% continue %}
            {% endcase %}

            <div class="col-sm-6 mb-2 flex">
                <h2>{{ topic }}</h2>
                <table class="table table-sm table-borderless">
                    {% for post in posts %}
                        <tr>
                            <td class="date">{{ post.date | date_to_string }}</td>
                            <td><a href="{{ post.url }}" target="_blank">{{ post.title }}
                                    {% if post.organization %}
                                        <div class="organization">{{ post.organization }}</div>
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>
