---
layout: default
title: Jackson Argo
---

<style>
    .index {
        font-size: large;
    }

    .date {
        font-size: medium;
    }

    .organization {
        margin-top: -5px;
        font-size: small;
    }
</style>

<div>
    <div class="row-cols-1 text-center">
        <h1>// Index</h1>
    </div>
    <div class="row index">
        <div class="col-sm-6 mb-2">
            <h2>Politics</h2>
            <table class="posts">
                {% for post in site.categories.opinion %}
                <tr>
                    <td width="100" class="date">{{ post.date | date_to_string }}</td>
                    <td><a href="{{ post.url }}">{{ post.title }}
                        {% if post.organization %}
                        <div class="organization">{{ post.organization }}</div>
                        {% endif %}
                    </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-sm-6 mb-2">
            <h2>Presentations</h2>
            <table class="posts">
                {% for post in site.data.presentations %}
                <tr>
                    <td width="100" class="date">{{ post.date | date_to_string }}</td>
                    <td><a href="{{ post.url }}">{{ post.title }}
                        {% if post.organization %}
                        <div class="organization">{{ post.organization }}</div>
                        {% endif %}
                    </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-sm-6 mb-2">
            <h2>Technology</h2>
            <table class="posts">
                {% for post in site.categories.technology %}
                <tr>
                    <td width="100" class="date">{{ post.date | date_to_string }}</td>
                    <td><a href="{{ post.url }}">{{ post.title }}
                        {% if post.organization %}
                        <div class="organization">{{ post.organization }}</div>
                        {% endif %}
                    </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-sm-6 mb-2">
            <h2>Orchestra</h2>
            <table class="posts">
                {% for post in site.data.performances %}
                <tr>
                    <td width="100" class="date">{{ post.date | date_to_string }}</td>
                    <td><a href="{{ post.url }}">{{ post.title }}

                        {% if post.organization %}
                        <div class="organization">{{ post.organization }}</div>
                        {% endif %}
                    </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
