<div class="container">
<% unless @title =~ /^(index|Resume)$/ %>
<h1><%= @title %></h1>
<% if @target =~ /Articles/ %>
<em>Published <%= @date.strftime "%b %d, %Y" %></em>
<% end %>
<p></p>
<% end %>
<%= @content %>
</div>
